.chart-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .chart-item {
    margin: 20px;
    flex: 1;
    min-width: 300px;
    text-align: center;
  }
  
  .doughnut-container {
    width: 250px; /* Adjust the width to your desired size */
    height: 250px; /* Adjust the height to your desired size */
    margin: 0 auto; /* Center the doughnut chart */
  }